<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>760703953577-3g2pco1nr1en6foh2f1okv3oovp2filq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.760703953577-3g2pco1nr1en6foh2f1okv3oovp2filq</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>760703953577-ekom4dhvkv8futu79lqa4pc4qq80cd5p.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD28ph2bp5igQcFe9kra9u043xrEL7pYdw</string>
	<key>GCM_SENDER_ID</key>
	<string>760703953577</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.movieApp</string>
	<key>PROJECT_ID</key>
	<string>test-912ee</string>
	<key>STORAGE_BUCKET</key>
	<string>test-912ee.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:760703953577:ios:cc2e285e4bca39fa6717b8</string>
</dict>
</plist>